@page "/"
<PageTitle>Início</PageTitle>

<h1>Bem-vindo ao GloboClima</h1>

<p>
    O <strong>GloboClima</strong> é um aplicativo web que permite consultar:
</p>

<ul>
    <li>Clima atual de qualquer cidade do mundo</li>
    <li>Informações de países como população, idiomas e moedas</li>
    <li>Salvar suas cidades e países favoritos para acesso rápido</li>
</ul>