@page "/login"
@using GloboClima.Web.Shared.LoginViewModels
@using GloboClima.Web.Shared.Servico
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject servicoAPI Api

<h3>Login</h3>

@if (jaLogado)
{
    <div class="alert alert-info">Você já está logado.</div>
    <button class="btn btn-danger" @onclick="Logout">
        <span class="oi oi-account-logout me-1"></span> Sair
    </button>
}

@if (!jaLogado)
{
    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Usuário</label>
                <InputText class="form-control" @bind-Value="loginModel.Nome" />
                <ValidationMessage For="@(() => loginModel.Nome)" />
            </div>

            <div class="mb-3">
                <label class="form-label">Senha</label>
                <InputText class="form-control" @bind-Value="loginModel.Senha" type="password" />
                <ValidationMessage For="@(() => loginModel.Senha)" />
            </div>
        </div>


        @if (!string.IsNullOrEmpty(erro))
        {
            <div class="alert alert-danger">@erro</div>
        }

        <button type="submit" class="btn btn-primary">Entrar</button>
    </EditForm>
}

@code {
    private loginModel loginModel = new();
    private string? erro;
    private bool jaLogado = false;

    protected override async Task OnInitializedAsync()
    {
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");
        jaLogado = !string.IsNullOrWhiteSpace(token);
    }

    private async Task HandleLogin()
    {
        erro = null;

        var (resultado, problema) = await Api.PostAsync<TokenResponse>("api/auth", loginModel);

        if (problema != null)
        {
            erro = problema.Detail;
            return;
        }

        if (!string.IsNullOrEmpty(resultado?.Token))
        {
            await JS.InvokeVoidAsync("localStorage.setItem", "authToken", resultado.Token);
            Navigation.NavigateTo("/", forceLoad: true);
        }
    }

    private async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "authToken");
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}